---
layout: frontrunners
title: Frontrunners
---

<div class="content-wrapper">
<div class="content">

  <h1>{{ page.title }}</h1>
  
  <img src="{{site.url}}/images/mid_300_podium-sign.png" alt="Frontrunners" style="width:200px;height:205px;" class="center">
  
  <p>Frontrunners is an annual JavaScript and web developers conference held in the Washington, DC area!
    The next Frontrunners will be March 10, 2023 in Arlington, VA at GMU's Van Metre Hall (formerly Founders Hall).</p>

<!--
  <h2>We want to hear your talk!</h2>

  <p>Our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeVqFwR2_Bn3poybhyT9ZzGVG4YTuAZUVstUbx_IzuzAQUM9Q/viewform" target="_blank">call for talks</a> is open! 
    Submit your talk!
   
    We expect 250 developers to attend Frontrunners. 
    So, this is a great opportunity to reach a large and influential audience of DC web developers, and have a great time, too!
  </p>
-->
  
  <div id="tickets">
    <h2>Tickets!</h2>

    <p>Tickets are available for Frontrunners. Get yours today, before they sell out!</p>

    <div style="font-family:Helvetica, arial; text-align: center; padding-top: 1em;" class="center">
      <a href="https://frontrunners.ticketleap.com/frontrunners2022/" style="background-color:#E42217;font-size:15px;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);display: inline-block;margin:0;text-align:center;text-decoration:none;font-weight:bold;color:#FFFFFF;letter-spacing: .07em;padding:18px 27px;font-family: arial,sans-serif !important;" target="_blank">TICKETS AVAILABLE NOW!</a>
    </div>

  </div>

  <!--
  <h2>Give a Lightning Talk!</h2>

    <p>We have some time in our schedule for lightning talks. This is a great way to ease into speaking at conferences.</p>

    <p>
       Give it a try!
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_h-kZ9N_Sr0cC-eWDkIo-EdZjdf2zB2HOd3YuHnBPcEUoYg/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link" target="_blank">Submit your lightning talk!</a>.
    </p>
-->
  
  <div id="tickets">
  <h2>Wireless Access</h2>  

  <p>
    Our venue has wireless access. The instructions we were provided are:
  </p>

  <div id="wireless">
    <ol>
      <li>
         On your device, select MASON as your wireless network
      </li>
      <li>
        Go to your web browser and enter <a href="itservices.gmu.edu" target="_blank">itservices.gmu.edu</a>
      </li>
      <li>
        The self-registration portal will appear
      </li>
      <li>
        Click on Create an Account and enter your information to complete the self-registration
      </li>
    </ol>

    <p>
      Need help? Call the ITS Support Center at 703-993-8870
    </p>
  </div>

</div>
</div>

{% include headshots.html %}
{% include emcee_panel.html %}
{% include sponsors_panel.html %}
{% include venue.html %}
{% include schedule_panel.html %}
